APP_NAME=SupplyChainAPI
ENV=development

DB_HOST=db
DB_PORT=5432
DB_NAME=supply_chain
DB_USER=postgres
DB_PASSWORD=postgres

JWT_SECRET=supersecretkey
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
